cheetah-accelerator
gymnasium
gym
imageio==2.5
ipywidgets
ipython
ipywidgets
jupyter_contrib_nbextensions
matplotlib
moviepy==1.0.3
names
notebook==6.4.12
opencv-python
seaborn
pyyaml
requests
RISE
shimmy
stable-baselines3
traitlets==5.9.0

